body{
     background: #ddd;
}

.cartao{
	background: url('../assets/backgorund.png') no-repeat;
	width: 400px;
	height: 200px;
	box-sizing: border-box;
	margin: auto;
	padding: 1px 20px;
	background-size: cover;
	margin-top: 10%;
}

ul{
   margin: 1px;
   padding: 1px;
}

#nome{
     list-style-type: none;
     font-family: Times;
     text-align: left;   
     font-size: 23px;
}

#inst{
     list-style-image: url(../assets/insta.png);
     list-style-position: inside;
}

#twit{
     list-style-image: url(../assets/Twitter.png);
     list-style-position: inside;
}

#yout{
     list-style-image: url(../assets/Youtube.png);
     list-style-position: inside;
}

a{
   text-decoration: none;
   color: black;
}
